
.idea/dataSources.local.xml

.idea/dataSources.xml

.idea/encodings.xml

.idea/misc.xml

db.sqlite3

.idea/workspace.xml

.idea/server.iml

.idea/modules.xml

.idea/dataSources.ids

.idea/.name

*.pyc
