<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html" charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../static/website/sphere.ico">

    <title>Sphr Motion</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/website/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    {#    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->#}
    {#    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">#}
    {##}
    {#    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->#}
    {#    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->#}
    {#    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>#}
    {##}
    {#    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->#}
    {#    <!--[if lt IE 9]>#}
    {#    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>#}
    {#    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>#}
    {#    <![endif]-->#}

    <!-- Custom styles for this template -->
    <link href="../../static/website/carousel.css" rel="stylesheet">
</head>

<!-- NAVBAR-->
<body style="background-color: azure">
<div class="navbar-wrapper">
    <div class="container">

        <nav class="navbar navbar-light navbar-static-top" style="background-color: azure;">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-globe"></span> Sphr Motion</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                        <li class="active"><a href="#"><span class="glyphicon glyphicon-user"></span> Team</a></li>
                        <li><a href="downloads.html"><span class="glyphicon glyphicon-download-alt"></span>
                            Downloads</a></li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
</div>

<div>
    <img src="../../static/website/images/image6.jpg" align="center" width="100%">
    <br><br><br><br>
</div>

<div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
        {% for member in object_list %}
            <div class="col-lg-6" align="center">
                <img class="img-circle" src="{{ member.picture }}" alt="Generic placeholder image"
                width="140" height="140" align="center">
                <h2>{{ member.name }} {{ member.surname }}</h2>
                <p>{{ member.description }}</p>
            {% if not forloop.counter0|divisibleby:2 %}
                </div>
                <br><br>
                <div class="row">
            {% endif %}
            </div>

        {% endfor %}
    </div>

    <br>

    <footer>
        <h4 align="center">All graphical contents are <a href="http://getbootstrap.com/" style="color: #6600cc">Bootstrap</a>
            modules &middot; <a href="#" style="color: #0066ff">Back to top <span
                    class="glyphicon glyphicon-triangle-top"></span></a>
        </h4>
    </footer>

</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
{#    <script>window.jQuery || document.write('<script src="bootstrap/docs/assets/js/vendor/jquery.min.js"><\/script>')</script>#}
<script src="../../static/website/bootstrap/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="../../static/website/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
{#    <script src="bootstrap/docs/assets/js/ie10-viewport-bug-workaround.js"></script>#}

</body>
